.header {
    background-image: url(https://www.ru-divan.ru/uploads/media/tissue/0001/91/a31f3761b7f7eb925a5cfce7e3f797dc2abbcf36.jpeg);
}
.header__logo {
    color: #d6e8f9;
    text-decoration: none;
}
.header__nav {
    color: #d6e8f9;
}
.nav__sod {
    list-style: none;
    background-color: #fa97a3;
    width: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    color: #5e4873;
}



