.header {
    background-image: url(https://avatars.mds.yandex.net/i?id=c7165495967ce70be2d6bbdd89e1e8a5_l-5245755-images-thumbs&n=13);
}
.header__logo {
    color: #fff;
    text-decoration: none;
}
.header__nav {
    color: #5e4873;
}
.nav__sod {
    list-style: none;
    background-color: #fa97a3;
    width: 100px;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    color: #5e4873;
}
.nav__item {
    display: inline-block;
}
.nav a {
    color: #5e4873;
    text-decoration: none;
    background-color: #fa97a3;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}
.port-section__nav a{
    color: #5e4873;
    text-decoration: none;
}
.footer {
    background-image: url(https://avatars.mds.yandex.net/i?id=c7165495967ce70be2d6bbdd89e1e8a5_l-5245755-images-thumbs&n=13);
    color: #5e4873;
    text-decoration: none;
}
.footer-nav__item {
    list-style-type: none;
}
.footer a {
    color: #5e4873;
    text-decoration: none;
}
.port-section {
     width: 500px;
     margin: 30px;
     border-radius: 7px;
}
.port-section--one {
    background-color: #fa97a3;
}
.port-section--two {
    background-color: #a9d1f3;
}
.port-section--three {
    background-color: #f0c890;
}
.main {
    overflow: hidden;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.port-section__nav {
    color: #5e4873;
    text-decoration: none;
}
.port-section p{
    color: #fff;
}
.port-section h2{
    color: #fff;
}
